.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #a5bfa6;
  border: 1px solid #a5bfa6;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #94ad95;
  border-color: #94ad95;
}
